---
title: Routing HTTP/2 and gRPC Traffic to Apps
owner: CF for VMs Networking
---

<% current_page.data.title = "Routing HTTP/2 and gRPC Traffic to Apps" %>

This topic describes how to route HTTP/2 and gRPC traffic to <%= vars.app_runtime_first %> apps.

## <a id="overview"></a> Overview

HTTP/2 is the second major version of the the HTTP protocol.
<%= vars.http2_support_version %>

For more information about the HTTP/2 protocol, see [RFC 7540](https://datatracker.ietf.org/doc/html/rfc7540).

gRPC is a Remote Procedure Call (RPC) framework that uses HTTP/2 as its transport medium.
It is especially useful for managing communication between apps in a microservices cluster.
For apps to serve gRPC traffic, every network hop between the client and app must use HTTP/2.

For more information, see [gRPC](https://grpc.io/).


## <a id="http2-with-cf"></a> Using HTTP/2 with <%= vars.app_runtime_abbr %> Apps

If your <%= vars.app_runtime_abbr %> deployment is configured to support HTTP/2,
then all traffic ingressing to <%= vars.app_runtime_abbr %> supports HTTP/2.
You do not need to make changes to existing apps to support HTTP/2.
The traffic is forwarded as HTTP/1.1 before it reaches your app unless configured otherwise.

<%= vars.http2_admin_link %>


### <a id="example-1"></a> Serve HTTP/2 for a HTTP/1.1 Application

To serve HTTP/2 for an HTTP/1.1 app:

1. Push an application that serves HTTP/1.1:

	```
	cf push my-app
	```

1. Issue a HTTP/2 request to the application:

	```
	curl my-app.example.com --http2 -v
	```

1. Note that the request and response are issued over HTTP/2.

1. Review the logs for the application:

	```
	cf logs my-app
	```

1. Note that the request to the application is issued over HTTP/1.1.

<p class="note"><strong>Note:</strong> You will need a version of curl that supports HTTP/2 in order to issue this request. </p>

### <a id="e2e-http2"></a> Configure End-to-End HTTP/2

To serve gRPC traffic, your app must use HTTP/2 for all network hops.
Configure your route to send HTTP/2 traffic to your app.
When configured, traffic that matches the route is always sent to your app over HTTP/2 regardless of the original ingress protocol.

For example, external HTTP/1.1 requests are forwarded to your app over HTTP/2.
Your app does not have the opportunity to negotiate what protocol it receives.
Apps receive HTTP/2

<p class="note"><strong>Note:</strong>
If a client is familiar with the HTTP/2 specification,
your app receives HTTP/2 with prior knowledge.
For more information, see <a href="https://datatracker.ietf.org/doc/html/rfc7540#section-3.4">Starting HTTP/2 with Prior Knowledge</a> in
<em>RFC 7540: Hypertext Transfer Protocol Version 2 (HTTP/2)</em>.</p>

There are multiple ways to configure end-to-end HTTP/2 for your app.

See the following sections:

- [Configure End-to-End HTTP/2 Using the App Manifest](#e2e-manifest)

### <a id="e2e-manifest"></a> Configure End-to-End HTTP/2 Using the App Manifest

To configure end-to-end HTTP/2 using the app manifest:

1. Acquire an application that supports serving HTTP/2 traffic with prior knowledge.
For this example, we will use [the HTTP/2 test app from Cloud Foundry Acceptance Tests](https://github.com/cloudfoundry/cf-acceptance-tests/tree/http2_routing/assets/http2).

1. Create an application manifest, `manifest.yml`, with a route mapped to the application with HTTP/2:

	```yaml
	---
	applications:
	- name: my-app
	  routes:
	    - route: my-app.example.com
	      protocol: http2
	```

1. Push the application with the manifest:

	```
	cf push -f manifest.yml
	```

1. Issue a HTTP/2 request to the application:

	```
	curl my-app.example.com --http2 -v
	```

1. Note that the request and response are issued over HTTP/2.

1. The response from the test application will include the request's protocol.
Note that it recieved the request over HTTP/2:

	```
	Hello, /, TLS: false, Protocol: HTTP/2.0
	```

#### <a id="example-3"></a> Example 3: End-to-End HTTP/2 Using CLI

1. Acquire an application that supports serving HTTP/2 traffic with prior knowledge.
For this example, we will use [the HTTP/2 test app from Cloud Foundry Acceptance Tests](https://github.com/cloudfoundry/cf-acceptance-tests/tree/http2_routing/assets/http2).

1. Push the application without a default route:

	```
	cf push --no-route
	```

1. Map a route with destination protocol `http2`:

	```
	cf map-route my-app example.com --hostname host --destination-protocol http2
	```

1. Issue a HTTP/2 request to the application:

	```
	curl host.example.com --http2 -v
	```

1. Note that the request and response are issued over HTTP/2.

1. The response from the test application will include the request's protocol.
Note that it recieved the request over HTTP/2:

	```
	Hello, /, TLS: false, Protocol: HTTP/2.0
	```

#### <a id="example-4"></a> Example 4: Pushing a gRPC Application

1. Acquire an application that supports serving gRPC traffic.
For this example, we will use [the gRPC test app from Cloud Foundry Acceptance Tests](https://github.com/cloudfoundry/cf-acceptance-tests/tree/http2_routing/assets/grpc).

1. Push the app with HTTP/2 enabled using one of the methods described above.

1. Issues a gRPC request to the application using [grpcurl](https://github.com/fullstorydev/grpcurl):

	```
	grpcurl -vv -import-path ./test/ -proto test.proto my-app.example.com:443 test.Test.Run
	```

1. Note that the gRPC request succeeds:

	```
	Response contents:
	{
	  "body": "Hello"
	}
	```

## <a id="performance"></a> Performance

HTTP/2 can provide modest performance gains for applications that are built to take advantage of it.
This is especially true for applications that:

1. Load many resources in parallel. For example a HTML page that loads many images and/or javascript files.
1. Use large and repetitive headers.

Other applications may see only minimal or no performance increases. It is a good idea to experiment with your application to see how serving HTTP/2 will affect its performance.

See the [Cloud Foundry HTTP/2 Tile Demo App](https://github.com/Gerg/http2_tile_demo) for an example of an application that benefits from HTTP/2.

## <a id="limitations"></a> Limitations

1. End-to-end HTTP/2 is currently not available for Windows cells. Routes with HTTP/2 mappings will continue to send HTTP/1.1 traffic to applications on Windows cells.
2. Routes with [route services](https://docs.cloudfoundry.org/services/route-services.html) bound to them may not have end-to-end HTTP/2, depending on what protocols the bound service supports.
