---
title: Developer Guide
---

This guide provides instructions for deploying, running, and managing apps and services with <%= vars.app_runtime_first %>.

<%= vars.gsg_app_video_link %>


## <a id='overview'></a> Overview

Developing, running, and managing apps on <%= vars.app_runtime_abbr %> may include:

* Deploying and scaling apps with diverse languages, frameworks, and dependencies 
* Finding software services in the services marketplace, such as databases, email, or message servers 
* Creating your own <%= vars.app_runtime_abbr %> service based on an external server 
* Creating service instances and binding them to your apps 
* Streaming app logs to an external log management service 
* Troubleshooting app deployment and health 

If you do these things, you are a <%= vars.app_runtime_abbr %> **developer**, and the contents of this guide are for you.

<%= vars.cfdev_link %>


## <a id='contents'></a> Contents

* [Considerations for Designing and Running an App in the Cloud](deploy-apps/prepare-to-deploy.html): Some considerations you should keep in mind when designing and running an app through <%= vars.app_runtime_abbr %>.

* [<%= vars.platform_name %> Dev](https://docs.pivotal.io/pcf-dev/index.html): A lightweight <%= vars.app_runtime_abbr %> that runs on your workstation, for developing apps locally.

* **cf push:** How to use `cf push` and troubleshoot when running `cf push`.
  * [Pushing an App](deploy-apps/deploy-app.html)
  * [Deploying with App Manifests](deploy-apps/manifest.html)
  * [App Manifest Attribute Reference](deploy-apps/manifest-attributes.html)
  * [Deploying an App with Docker](deploy-apps/push-docker.html)
  * [Deploying a Large App](deploy-apps/large-app-deploy.html)
  * [Starting, Restarting, and Restaging Apps](deploy-apps/start-restart-restage.html)
  * [Pushing an App with Multiple Processes](multiple-processes.html)
  * [Running cf push Sub-Step Commands](push-sub-commands.html)
  * [Rolling App Deployments](deploy-apps/rolling-deploy.html)
  * [Pushing Apps with Sidecar Processes](sidecars.html)
  * [Using Blue-Green Deployment to Reduce Downtime and Risk](deploy-apps/blue-green.html)
  * [Troubleshooting App Deployment and Health](deploy-apps/troubleshoot-app-health.html)

* **Routes and Domains:** How to configure routes and domains.
  * [Configuring Routes and Domains](deploy-apps/routes-domains.html)
  * [Configuring <%= vars.app_runtime_abbr %> to Route Traffic to Apps on Custom Ports](custom-ports.html)
  * [Routing HTTP/2 and gRPC Traffic to Apps](http2-protocol.html)

* **Managing Apps with the cf CLI:** How to manage apps through the Cloud Foundry Command Line Interface (cf CLI).
  * [Running Tasks](using-tasks.html)
  * [Scaling an App Using cf scale](deploy-apps/cf-scale.html)
  * [Using App Health Checks](deploy-apps/healthchecks.html)
  * [App Revisions](revisions.html)
  * [Configuring Container-to-Container Networking](deploy-apps/cf-networking.html)

* **Managing Services:** How to use software services from your apps.
  * [Services Overview](services/index.html)
  * [Managing Service Instances with the cf CLI](services/managing-services.html)
  * [Sharing Service Instances](services/sharing-instances.html)
  * [Delivering Service Credentials to an App](services/application-binding.html)
  * [Managing Service Keys](services/service-keys.html)
  * [Managing App Requests with Route Services](services/route-binding.html)
  * [Configuring Play Framework Service Connections](services/play-service-bindings.html)
  * [Using an External Filesystem (Volume Services)](services/using-vol-services.html)
  * [User-Provided Service Instances](services/user-provided.html)

* **Streaming App Logs:** How to stream app logs to third-party log management services.
  * [Streaming App Logs to Log Management Services](services/log-management.html)
  * [Service-Specific Instructions for Streaming App Logs](services/log-management-thirdparty-svc.html)
  * [Streaming App Logs to Splunk](services/integrate-splunk.html)
  * [Streaming App Logs with Fluentd](services/fluentd.html)
  * [Streaming App Logs to Azure OMS Log Analytics](services/oms-nozzle.html)

* **SSH for Apps and Services:** How to configure and use SSH access to apps and services.
  * [App SSH Overview](deploy-apps/app-ssh-overview.html)
  * [Accessing Apps with SSH](deploy-apps/ssh-apps.html)
  * [Accessing Services with SSH](deploy-apps/ssh-services.html)

* [<%= vars.app_runtime_abbr %> Environment Variables](deploy-apps/environment-variable.html): The environment variables that the <%= vars.app_runtime_abbr %> runtime and buildpacks set for a deployed app.

* [Cloud Controller API Client Libraries](capi/client-libraries.html): Libraries for calling the Cloud Controller, the executive component of <%= vars.app_runtime_abbr %>, programmatically.
