---
title: Available Cloud Controller API client libraries
owner: CAPI
---

Here is a list of the client libraries you can use with the Cloud Foundry API (CAPI)
for <%= vars.app_runtime_first %>.

## <a id='overview'></a>CAPI overview

CAPI is the entry point for most operations within the <%= vars.app_runtime_abbr %>
platform. You can use it to manage orgs, spaces, and apps, which includes user roles and permissions. You can also use CAPI to manage the services provided by your <%= vars.app_runtime_abbr %> deployment, including provisioning, creating, and binding them to apps.

<%= vars.capi_link %>

<p class="note important">CAPI v2 Deprecation and End of Life
<br>CAPI v2 endpoints are deprecated in both Open Source Cloud Foundry since 2021 and <%= vars.app_runtime_abbr %> in version 6.0 and forward. Given that these endpoints are deprecated, new development should use the v3 endpoints. 
Open Source Cloud Foundry has plans to end of life the v2 endpoints following this RFC: https://github.com/cloudfoundry/community/blob/main/toc/rfc/rfc-0032-cfapiv2-eol.md
<%= vars.app_runtime_abbr %> does not have plans to end support for the V2 endpoints in the current LTS releases.</p>

## <a id='client-libraries'></a>Client libraries

While you can develop apps that use CAPI by calling it directly as in the API documentation, you might want to use an existing client library. See the following available client libraries.

### <a id='supported'></a>Supported

<%= vars.app_runtime_abbr %> supports the following clients for CAPI:

* [Java](https://github.com/cloudfoundry/cf-java-client)
* Scripting: Enter `cf curl --help` in the Tanzu cf CLI

### <a id='experimental'></a>Experimental

The following client is experimental and is a work in progress:

* [Golang](https://github.com/cloudfoundry/go-cfclient)

### <a id='unofficial'></a>Unofficial

<%= vars.app_runtime_abbr %> does not support the following clients, but might be supported by third parties:

* Python:
   * [cloudfoundry-community/cf-python-client](https://github.com/cloudfoundry-community/cf-python-client)
