##<a id="enable"></a>Enable Container-to-Container Networking

Container networking is installed by default when you install Cloud Foundry using `cf-deployment`. For instructions for using `cf-deployment`, see [Deploying Cloud Foundry with cf-deployment](https://docs.cloudfoundry.org/deploying/cf-deployment/index.html).

Container networking has properties that you can configure to change their default behavior. The table below has a list of properties and instructions for editing them. For more information, see [Configuration Information for Operators](https://github.com/cloudfoundry/cf-networking-release/blob/develop/docs/configuration.md).

<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r1c1' %>
<%= yield_for_code_snippet from: 'cloudfoundry-samples/pong_matcher_ruby', at: 'ruby-2b' %>

<table border="1" class="nice">
  <tr>
    <th style="width:35%">Container-to-Container Networking Opsfiles</th>
    <th>Description</th>
  </tr>
  <tr>
    <td colspan=2><%= yield_for_code_snippet from: 'cloudfoundry-samples/pong_matcher_spring', at: 'gsg-spring-s3' %></td>
    <td>
  </tr>
  <tr>
    <td><pre><code>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r1c1' %>
    </code></pre></td>
    <td>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r1c2' %>
    </td>
  </tr>
  <tr>
    <td><pre><code>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r2c1' %>
    </code></pre></td>
    <td>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r2c2' %>
    </td>
  </tr>
  <tr>
    <td><pre><code>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r3c1' %>
    </code></pre></td>
    <td>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r3c2' %>
    </td>
  </tr>
  <tr>
    <td><pre><code>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r4c1' %>
    </code></pre></code>
    <td>
<%= yield_for_code_snippet from: 'cloudfoundry/cf-networking-release', at: 'c2c_networking_stub_table_r4c2' %>
    </td>
  </tr>
</table>

To see how container networking works with and without service discovery, see [Cats and Dogs with Service Discovery](https://github.com/cloudfoundry/cf-networking-examples/blob/master/docs/c2c-with-service-discovery.md) in GitHub. In this tutorial, you deploy two apps and create a Container-to-Container Networking policy that allows them to communicate directly with each other.