---
title: The application container life cycle on the Diego architecture
owner: Diego
---

The life cycle stages of an application container for your <%= vars.app_runtime_first %> deployments running on the Diego architecture include deployment, failure events, evacuation, and shutdown.


## <a id="deployment"></a> Deployment

App deployment involves uploading, staging, and starting the app in a container. Your app must complete each of these phases within a certain time limit. The default time limits for the phases are:

* Upload: 15 minutes
* Stage: 15 minutes
* Start: 60 seconds

Your administrator can change these default settings. Check with your administrator for the actual time limits set for app deployment.

Developers can change the time limit for starting apps through an app manifest or on the command line. For more information, see [Deploying with app manifests](manifest.html) and [Using app health checks](./healthchecks.html).


## <a id="crash-events"></a> Crash events

If an app instance fails, <%= vars.app_runtime_abbr %>  restarts it by rescheduling the instance on another container three times. After three failed restarts, <%= vars.app_runtime_abbr %> waits 30 seconds before attempting another restart. The wait time doubles each restart until the ninth restart, and remains at that duration until the 200th restart. After the 200th restart, <%= vars.app_runtime_abbr %> stops trying to restart the app instance.

## <a id="evacuation"></a> Evacuation

Some actions require restarting VMs with containers hosting app instances. For example, you can update stemcells or install a new version of <%= vars.app_runtime_abbr %>. You must restart all the VMs in a deployment.

<%= vars.app_runtime_abbr %> relocates the instances on VMs that are shutting down through a process called evacuation. <%= vars.app_runtime_abbr %> recreates the app instances on another VM, waits until they are healthy, and then shuts down the old instances. During an evacuation, you might see the app instances in a duplicated state for a brief time.

During app duplication, singleton app instances might become temporarily unavailable if the replacement instance does not become healthy within the evacuation timeout of the Diego Cell (the default is ten minutes). App developers with a low tolerance for downtime might prefer to run several instances of their app. See [Run multiple instances to increase availability](prepare-to-deploy.html#increase-availability).


## <a id="shutdown"></a> Shutdown

<%= vars.app_runtime_abbr %> requests a shutdown of your app instance when:

* A user runs `cf scale`, `cf stop`, `cf push`, `cf delete`, or `cf restart-app-instance`.

* A system event occurs, such as the replacement procedure during Diego Cell evacuation or when an app instance stops because of a failed health check probe.

To stop the app, <%= vars.app_runtime_abbr %> sends the app process in the container a SIGTERM. By default, the process has ten seconds to shut down gracefully. If the process has not exited after ten seconds, <%= vars.app_runtime_abbr %> sends a SIGKILL.

By default, apps must finish their in-flight jobs within ten seconds of receiving the SIGTERM before <%= vars.app_runtime_abbr %> stops the app with a SIGKILL. For example, a web app must finish processing existing requests and stop accepting new requests.
<% if vars.platform_code == 'PCF' %>
  To change the timeout period on the <%= vars.app_runtime_abbr %> tile or IST tile, go to the <strong>Advanced Settings</strong> tab and edit the "app graceful shutdown period" property.
<% else %>
To change the timeout period, change the BOSH property <code>containers.graceful_shutdown_interval_in_seconds</code> on the replacement jobs.
<% end %>
This might increase the time it takes to drain Diego Cells, which causes increased deployment time.

<%= vars.app_graceful_shutdown_config %>

<p class="note">
An exception to the cases previously mentioned is when monit restarts a Diego Cell replacement or Garden server that has failed. In this case, <%= vars.app_runtime_abbr %> immediately stops the apps that are still running using SIGKILL.</p>
