---
title: Application SSH Overview
---

<strong><%= modified_date %></strong>

This topic introduces SSH configuration for applications in your <%= vars.product_full %> deployment. 

If you need to troubleshoot an instance of an app, you can gain SSH access to the app using the SSH proxy and daemon. 

For example, one of your app instances may be unresponsive, or the log output from the app may be inconsistent or incomplete. You can SSH into the individual VM that runs the problem instance in order to troubleshoot, while `cf restage YOUR-APP` may only repeat the same problem in a new instance.

## <a id="ssh-access-control-hierarchy"></a>SSH Access Control Hierarchy

Operators, administrators, and developers can configure SSH access for <%= vars.product_short %>, spaces, and apps, respectively. The image below illustrates the hierarchy of control for SSH access in an example deployment for which:

- Susie Operator can set access over the entire deployment. She sets it to allow SSH access to all apps.
- Annie Admin can set access to the spaces she administers. She allows SSH access to space "A" and "B", and disallows it to space "C." 
- Donnie Developer controls access to her apps, and enables SSH accesss to apps "Foo," "Bar," and "Baz."

As a result, only apps "Foo," "Bar," and "Baz" accept SSH requests.

<p class="note"><strong>Note</strong>: An application is SSH-accessible only if operators, administrators, and developers all grant SSH access at their respective levels.</p>

<%= image_tag("../images/ssh-app-access.png") %>

## <a id='app-ssh-config'></a>SSH Access for Apps and Spaces
Administrators and application developers can configure SSH access from the command line. The cf CLI also includes commands to return the value of the SSH access setting. See the [Accessing Apps with Diego SSH](./ssh-apps.html) topic to use and configure SSH at both the application-level and space-level. 

## <a id="platform-ssh-config"></a> Configuring SSH Access for <%= vars.product_full %> 
<%= vars.platform_ssh_configuration %>

## <a id="diego-ssh-concepts"></a> Understanding SSH Access
The SSH system components include the SSH proxy and daemon, and the system also supports authentication, and load balancing of incoming SSH traffic. The [Understanding  SSH](../../concepts/diego/ssh-conceptual.html) topic provides a conceptual overview.