---
title: Deploying a Large Application
---

This topic describes constraints and recommended settings for deploying applications between 750 MB and 1 GB to <%=vars.product_full%>.

## <a id="consid_limits"></a>Deployment Considerations and Limitations ##

<%=vars.product_short%> supports application uploads up to 1 GB. 

The deployment process involves uploading, staging, and starting the app. Your app must successfully complete each of these phases within the time limits that your administrator establishes for each phase. The default time limits for the phases are as follows:

* Upload: 15 minutes
* Stage: 15 minutes
* Start: 60 seconds

<p class="note"><strong>Note</strong>: Your administrator can change these defaults. Check with your administrator for the actual time limits set for app deployment.</p>

To deploy large apps to <%=vars.product_short%>, ensure the following:

* Your network connection speed is sufficient to upload your app within the 15 minute limit. Pivotal recommends a minimum speed of 874 KB/s. 

<p class="note"><strong>Note</strong>: <%=vars.product_short%> provides an authorization token that is valid for a minimum of 20 minutes.</p> 

* The total size of the files to upload for your app does not exceed 1 GB.

* You allocate enough memory for all instances of your app. Use either the `-m` flag with `cf push` or set an app memory value in your `manifest.yml` file.

* You allocate enough disk space for all instances of your app. Use either the `-k` flag with `cf push` or set a disk space allocation value in your `manifest.yml` file.

* The app manifest file, `manifest.yml`, includes all necessary attributes such as app memory, app start timeout, and disk space allocation.

    For more information on using manifests, refer to the [Deploying with Application Manifests](./manifest.html) topic.

* You push only the files that are necessary for your application. 

* To meet this requirement, push only the directory for your application, and remove unneeded files or use the `.cfignore` file to [specify excluded files](./prepare-to-deploy.html#exclude).

    For tips on deploying Java, Node.js, and Ruby apps, refer to the following topics:

  * [Tips for Java Developers](../../buildpacks/java/java-tips.html)
  * [Tips for Node.js Developers](../../buildpacks/node/node-tips.html)
  * [Tips for Ruby Developers](../../buildpacks/ruby/ruby-tips.html)

    For tips on deploying Go, PHP, and Python apps, refer to documentation for the specific language.

* You configure cf CLI staging, startup, and timeout settings to override settings in the manifest, as necessary.

  * `CF_STAGING_TIMEOUT`: Controls the maximum time that the cf CLI waits for an app to stage after cf has successfully uploaded and packaged the app. Value set in minutes.
  * `CF_STARTUP_TIMEOUT`: Controls the maximum time that the cf CLI waits for an app to start. Value set in minutes.
  * `cf push -t TIMEOUT`: Controls the maximum time that the cf CLI waits for an app to start. When you use this flag, cf ignores any app start timeout value set in the manifest or in the `CF_STARTUP_TIMEOUT` environment variable. Value set in seconds.


    For more information on using the cf CLI to deploy apps, type `cf -help` on the command line, and refer to the [Push section ](../installcf/whats-new-v6.html#push) of the Getting Started with the cf CLI topic.

    <p class="note"><strong>Note</strong>: Your app might still succeed or fail a phase because of the difference between your specified timeout values for the CLI or manifest and the timeout values for a phase set by your administrator. For example, your app might successfully start even though the CLI reports that the app failed the start phase.</p> 

## <a id="limits_table"></a>Default Settings and Limitations Summary Table ##

This table provides summary information of constraints and default settings to consider when you deploy a large app to <%=vars.product_short%>.

<table border="1" class="nice" >
<tr>
<th>Name</th>
<th>Comment</th>
</tr>
<tr>
<td>App Package Size </td>
<td>Maximum: 1 GB</td>
</tr>
<td>Authorization Token Grace Period</td>
<td>Default: 20 minutes, minimum</td>
</tr>
<tr>
<td><code>CF_STAGING_TIMEOUT</code></td>
<td>CLI environment variable<br />
Default: 15 minutes</td>
</tr>
<tr>
<td><code>CF_STARTUP_TIMEOUT</code></td>
<td>CLI environment variable<br />
Default: 5 minutes</td>
</tr>
<tr>
<td><code>cf push -t TIMEOUT</code></td>
<td>App start timeout maximum<br />
Default: 60 seconds<br /></td>
</tr>
<tr>
<td>Disk Space Allocation</td>
<td>Default: 1024 MB </td>
</tr>
<tr>
<td>Internet Connection Speed</td>
<td>Recommended Minimum: 874 KB/s</td>
</tr>
</table>

