---
title: Deploying an app based on a Docker image
owner: Diego
---

You can use the [Cloud Foundry Command Line Interface (cf CLI)](../../cf-cli/install-go-cli.html) to push an app with a new or updated Docker image. <%= vars.app_runtime_first %> then uses the Docker image to create containers for the app.

<%= vars.using_docker_link %>


## <a id='requirements'></a> Requirements

To push an app based on a Docker image, you need:

* A <%= vars.app_runtime_abbr %> deployment with Docker support activated. <%= vars.enable_docker_link %>

* A Docker image that meets the following requirements:

  * The Docker image must contain an `/etc/passwd` file with an entry for the `root` user. In addition, the home directory and the shell for that `root` user  must be present in the image file system.

  * The total size of the Docker image file system layers must not exceed the disk quota for the app. The maximum disk allocation for apps is set by the Cloud Controller. The default maximum disk quota is 2048&nbsp;MB per app.
    <p class="note important">
    If the total size of the Docker image file system layers exceeds the disk quota, the app instances do not start.</p>

* The location of the Docker image on Docker Hub or another Docker registry. <%= vars.docker_auth1 %>

* A registry that supports the Docker Registry HTTP API V2 and presents a valid certificate for HTTPS traffic. For more information, see the [Docker Registry HTTP API V2](https://docs.docker.com/registry/spec/api/) spec in the Docker documentation.

### <a id='cf-ssh'></a> Requirement for cf ssh support

To log in to your application container using the `cf ssh` command, you must make a shell such as `sh` or `bash` available in the container.

The SSH server in the container looks for the following executables in absolute locations or the `PATH` environment variable:

* `/bin/bash`

* `/usr/local/bin/bash`

* `/bin/sh`

* `bash`

* `sh`


## <a id='tag'></a> Benefits of specifying tags

To make your application container consistent after platform updates and code changes, specify a tag when you push your Docker image. Otherwise, the platform applies the `latest` tag without respecting changes to `PORT` or `ENTRYPOINT`.

If you push your Docker image without specifying a tag, you must run `cf restage` for the changes to take effect.


## <a id='port_config'></a> Port configuration

By default, apps listen for connections on the port specified in the `PORT` environment variable for the app. <%= vars.app_runtime_abbr %> allocates this value dynamically.

When configuring a Docker image for <%= vars.app_runtime_abbr %>, you can control the exposed port and the corresponding value of `PORT` by specifying the `EXPOSE` directive in the image Dockerfile. If you specify the `EXPOSE` directive, then the corresponding app pushed to <%= vars.app_runtime_abbr %> listens on that exposed port. For example, if you set `EXPOSE` to `7070`, then the app listens for connections on port 7070.

If you do not specify a port in the `EXPOSE` directive, then the app listens on the value of the `PORT` environment variable as determined by <%= vars.app_runtime_abbr %>.

If you set the `PORT` environment variable via an `ENV` directive in a Dockerfile, <%= vars.app_runtime_abbr %> overrides the value with the system-determined value.

<%= vars.app_runtime_abbr %> supports only one exposed port on the image.

For more information about the `PORT` environment variable, see the [PORT](environment-variable.html#PORT) section of _<%= vars.app_runtime_abbr %> Environment variables_. For more information about the `EXPOSE` directive, see the [EXPOSE](https://docs.docker.com/engine/reference/builder/#expose) in the Docker documentation.


## <a id='start_command'></a> Start command

By default, Docker uses the start command specified by the `CMD` and/or `ENTRYPOINT` directives in the Docker image. You can override the start command either by using the `-c` flag on `cf push` or by setting the `command` property in a manifest file.


## <a id='registry'></a> Push a Docker image from a registry

<%= vars.app_runtime_abbr %> supports pushing apps from container registries such as Docker Hub, Google Container Registry (GCR), and Amazon Elastic Container Registry (ECR).

How you run `cf push` with apps stored in container registries depends on which registry you use and how it authenticates requests for the container image.

The following sections explain how to push apps under different container registry scenarios.

###<a id='public'></a> Docker Hub

To deploy a Docker image from a Docker Hub repository, run:

```
cf push APP-NAME --docker-image REPO/IMAGE:TAG
```

Where:

* `APP-NAME` is the name to give the pushed app on <%= vars.app_runtime_abbr %>.

* `REPO` is the name of the repository where the image is stored.

* `IMAGE` is the name of the app image on Docker Hub.

* (Optional, but recommended) `TAG` is the tag or version for the image.

For example, the following command pushes the `your-image` image from Docker Hub to a <%= vars.app_runtime_abbr %> app:

```
cf push your-app --docker-image cloudfoundry/your-image
```

### <a id='private'></a> Private container registry without authentication

As an alternative to Docker Hub, you can use any Docker image registry that presents a valid certificate for HTTPS traffic, such as a company-internal Docker registry.

To push an app as a Docker image using a specified Docker registry, run:

```
cf push APP-NAME --docker-image YOUR-PRIVATE-REGISTRY.DOMAIN:PORT/REPO/IMAGE:TAG
```

Where:

* `APP-NAME` is the name to give the pushed app on <%= vars.app_runtime_abbr %>.

* `YOUR-PRIVATE-REGISTRY.DOMAIN` is the path to the Docker registry.

* `PORT` is the port where the registry serves traffic.

* `REPO` is the name of the repository where the image is stored.

* `IMAGE` is the name of the app image being pushed.

* (Optional, but recommended) `TAG` is the tag or version for the image.

For example, the following command pushes the `v2` version of the `your-image` image from the `your-repo` repository of the `internal-registry.example.com` registry on port `5000`:

```
cf push your-app --docker-image internal-registry.example.com:5000/your-repo/your-image:v2
```

### <a id='private-repo'></a> Private container registry with basic authentication

Many Docker registries control access to Docker images by authenticating with a user name and password.

To push an app as a Docker image from a registry that uses basic user name and password authentication, run:

```
CF_DOCKER_PASSWORD=YOUR-PASSWORD cf push APP-NAME --docker-image REPO/IMAGE:TAG --docker-username USER
```

Where:

* `YOUR-PASSWORD` is the password to use for authentication with the Docker registry.
    * Setting `CF_DOCKER_PASSWORD` prepended to the `cf push --docker-image` makes the value temporary, which is more secure than setting the environment variable indefinitely with `export`.

* `APP-NAME` is the name to give the pushed app on <%= vars.app_runtime_abbr %>.

* `REPO` is the repository where the image is stored.
    * For Docker Hub, this is just the repository name.
    * For a private registry, this includes the registry address and port, as described in [Push a Docker image from a private registry](#private), in the format `YOUR-PRIVATE-REGISTRY.DOMAIN:PORT/REPO`.

* `IMAGE` is the name of the app image being pushed.

* (Optional, but recommended) `TAG` is the tag or version for the image.

* `USER` is the user name to use for authentication with the registry.

If container registry credentials change, you have two options for an update: either you push the app with the new credentials or you update the latest package with the new credentials using [PATCH /v3/packages](https://v3-apidocs.cloudfoundry.org/version/3.150.0/index.html#update-a-package) and then restage your app.
Apps require access to the container registry when starting.
If you do not update the app with the new credentials, <%= vars.app_runtime_abbr %> fails to start the app.
When you rotate container credentials, <%= vars.recommended_by %> recommends using a set of two credentials, where the <code>old</code> credentials can be deactivated after all apps are pushed with the <code>new</code> credentials.

### <a id='ecr'></a> Amazon Elastic Container Registry (ECR)

<%= vars.app_runtime_abbr %> supports pushing apps from images hosted on Amazon Web Services ECR, which authenticates with temporary password tokens.

To push an app as a Docker image from ECR, run:

```
CF_DOCKER_PASSWORD=AWS-SECRET-ACCESS-KEY cf push APP-NAME --docker-image REPO/IMAGE:TAG --docker-username AWS-ACCESS-KEY-ID
```

Where:

* `AWS-SECRET-ACCESS-KEY` is the AWS Secret Access Key for the IAM user accessing the ECR registry.
    * Setting `CF_DOCKER_PASSWORD` prepended to the `cf push --docker-image` makes the value temporary, which is more secure than setting the environment variable indefinitely with `export`.

* `APP-NAME` is the name to give the pushed app on <%= vars.app_runtime_abbr %>.

* `REPO` is the ECR repository containing the image being pushed.

* `IMAGE` is the name of the app image being pushed.

* (Optional, but recommended) `TAG` is the tag or version for the image.

* `AWS-ACCESS-KEY-ID` is the AWS Access Key ID for the IAM user accessing the ECR registry.

Running `cf push` with an ECR registry triggers <%= vars.app_runtime_abbr %> to:

1. Use the AWS Secret Access Key and Access Key ID to retrieve the temporary ECR user name and password.

1. Use the temporary tokens to retrieve the image.

### <a id='gcr'></a> Google Container Registry (GCR)

<%= vars.app_runtime %> supports pushing apps from images hosted on Google Container Registry (GCR) service.
This feature requires that you use JSON key-based authentication.
For more information about JSON key authentication,
see the [Google Cloud documentation](https://cloud.google.com/container-registry/docs/advanced-authentication#json_key).

#### <a id='authenticate'></a> Step 1: Authenticate with GCR

To authenticate with GCR, you must create a JSON key file and associate it with your project.

To create a JSON key file and associate it with your project:

1. Create a GCP service account. To create a GCP service account,
   see the [Google Cloud documentation](https://cloud.google.com/compute/docs/access/create-enable-service-accounts-for-instances).
   Run:

    ```
    gcloud iam service-accounts create YOUR-ACCOUNT --display-name "YOUR-DISPLAY-NAME"
    ```

    Where:
    <ul>
      <li><code>YOUR-ACCOUNT</code> is the name of your service account.</li>
      <li><code>YOUR-DISPLAY-NAME</code> is the display name of your service account.</li>
    </ul>

1. Set your project ID by running:

    ```
    gcloud config set project YOUR-PROJECT-ID
    ```
    Where `YOUR-PROJECT-ID` is your project ID.

1. Create a JSON key file and associate it with the service account by running:

    ```
    gcloud iam service-accounts keys create key.json --iam-account=YOUR-ACCOUNT@YOUR-PROJECT-ID.iam.gserviceaccount.com
    ```

    Where:
    <ul>
      <li><code>YOUR-ACCOUNT</code> is the name of your service account.</li>
      <li><code>YOUR-PROJECT-ID</code> is your project ID.</li>
    </ul>

1. Add the IAM policy binding for your project and service account by running:

    ```
    gcloud projects add-iam-policy-binding YOUR-PROJECT --member serviceAccount:YOUR-ACCOUNT@YOUR-PROJECT-ID.iam.gserviceaccount.com --role roles/storage.objectViewer
    ```

    Where:
    <ul>
      <li><code>YOUR-PROJECT</code> is the name of your project.</li>
      <li><code>YOUR-ACCOUNT</code> is the name of your service account.</li>
      <li><code>YOUR-PROJECT-ID</code> is your project ID.</li>
    </ul>

#### <a id='deploy'></a> Step 2: Deploy the GCP image

To deploy your GCR image using the cf CLI, run:

```
CF_DOCKER_PASSWORD="$(cat key.json)" cf push APP-NAME --docker-image docker://YOUR-REGISTRY-URL/YOUR-PROJECT/YOUR-IMAGE-NAME --docker-username _json_key`
```

Where:

* `APP-NAME` is the name of the app being pushed.

* `YOUR-REGISTRY-URL` is the URL of your registry.

* `YOUR-PROJECT` is the name of your project.

* `YOUR-IMAGE-NAME` is the name of your image.

* The <code>key.json</code> file must point to the file you created earlier.

<p class="note">
For information about specifying <code>YOUR-REGISTRY-URL</code>, see <a href="https://cloud.google.com/container-registry/docs/pushing-and-pulling">Pushing and Pulling Images</a> in the Google Cloud documentation.</p>


## <a id='volume'></a> Docker volume support

You can use volume services with Docker apps. For more information about enabling volume support, see [Using an external file system (volume services)](../services/using-vol-services.html).
