---
title: Accessing services with SSH
owner: Core Services
---



You can gain direct command line access to your deployed service instance using SSH. This allows you to, for example, access your database to run raw SQL commands to edit the schema, import and export data, or debug app data issues.

To establish direct command line access to a service, you deploy a host app and use its SSH and port forwarding features to communicate with the service instance through the application container. The technique described here works with TCP services such as MySQL or Redis.

<p class="note important">
The procedure in this topic requires use of a service key, and not all services support service keys. Some services support credentials through <a href="../services/application-binding.html">app binding</a> only.</p>


## <a id="create-instance"></a> Create a service instance

1. In your terminal window, log in to your deployment with `cf login`.

1. <%= vars.ssh_marketplace_step %>

    <pre class="terminal">
    $ cf marketplace
    <%=vars.ssh_marketplace_output %>
    </pre>

2. Create your service instance. As part of the `cf create-service` command, indicate the service name, the service plan, and the name you choose for your service instance.

    <pre class="terminal">
    $ cf create-service <%=vars.ssh_service %> <%=vars.ssh_service_plan %> MY-DB
    </pre>

##<a id="push-app"></a>Push your host app

To push an app that acts as the host for the SSH tunnel, push any app that is deployed to <%= vars.app_runtime_full %>.
Your app must be prepared before you push it. See <a href="deploy-app.html">Pushing an app</a> for details about preparing apps for pushing.

1. Push your app:

    ```console
    cf push YOUR-HOST-APP
    ```

2. Activate SSH for your app:

    ```console
    cf enable-ssh YOUR-HOST-APP
    ```

To activate SSH access to your app, SSH access must also be activated for both the space that contains the app and <%= vars.app_runtime_full %>. For more information, see <a href="./app-ssh-overview.html">App SSH Overview</a>.

##<a id="bind-app"></a>Create your service key

To establish SSH access to your service instance, you must create a service key that contains critical information for configuring your SSH tunnel.

1. Create a service key for your service instance using the `cf create-service-key` command.

    ```console
    cf create-service-key MY-DB EXTERNAL-ACCESS-KEY
    ```

2. Retrieve your new service key using the `cf service-key` command.

    ```console
    cf service-key MY-DB EXTERNAL-ACCESS-KEY
    ```

    For example:

    <pre class="terminal">
    $ cf service-key MY-DB EXTERNAL-ACCESS-KEY
    Getting key EXTERNAL-ACCESS-KEY for service instance MY-DB as user<span>@</span>example.com
    <%= vars.ssh_service_access_key %>
    </pre>


## <a id="ssh-tunnel"></a> Configure your SSH tunnel

Configure an SSH tunnel to your service instance using `cf ssh`. Tailor the following example command with information from your service key.
<pre class="terminal">$ cf ssh -L 63306:<%= vars.ssh_service_host %>:3306 YOUR-HOST-APP</pre>

   * You can use any available local port for port forwarding; for example, `63306`.
   * `<%= vars.ssh_service_host %>` is the address provided under `hostname` in the service key retrieved earlier.
   * `3306` is the port provided under `port`.
   * `YOUR-HOST-APP` is the name of your host app.

After you enter the command, open another terminal and follow the steps in [Access your service instance](#access-service).


## <a id="access-service"></a> Access your service instance

To establish direct command line access to your service instance, use the relevant command line tool for that service. This example uses the MySQL command line client to access the <%= vars.ssh_service %> service instance.

<pre class="terminal">
$ mysql -u b5136e448be920 -h 0 -p -D ad_b2fca6t49704585d -P 63306
</pre>

* Replace `b5136e448be920` with the user name provided under `username` in your service key.
* `-h 0` instructs `mysql` to connect to your local machine (use `-h 127.0.0.1` for Windows).
* `-p` instructs `mysql` to prompt for a password. When prompted, use the password provided under `password` in your service key.
* Replace `ad_b2fca6t49704585d` with the database name provided under `name` in your service key.
* `-P 63306` instructs `mysql` to connect on port `63306`.
