---
title: Setting HTTP_Proxy
---

If there is an HTTP proxy server on your network between a host running `cf` and
your Cloud Foundry API endpoint, you must set the HTTP_PROXY environment
variable with the hostname or IP address of the proxy server:

`http_proxy=http://proxy.example.com`

If the proxy server requires a user name and password, include them in the
following form:

`http_proxy=http://username:password@proxy.example.com`

If the proxy server uses a port other than 80, include the port number:

`http_proxy=http://username:password@proxy.example.com:8080`

The HTTP_PROXY environment variable is set like any environment variable.

## <a id="mac-linux"></a>Mac OS X or Linux ##

Set the HTTP_PROXY environment variable using the command specific to your
shell, (e.g. set or export).

Example:

<pre class="terminal">
$ export HTTP_PROXY=http://my.proxyserver.com:8080
</pre>

To make this change persistent, add the command to the appropriate profile file
for the shell.
For example, in bash, add a line like the following to your .bash_profile or
.bashrc file:

<pre class="detect-scrip"t>
  http_proxy=http://username:password@hostname:port;
  export $http_proxy
</pre>

## <a id="windows"></a>Windows ##

1. On your desktop, right-click **Computer** and select **Properties**.

    <%= image_tag("../images/proxy/properties.png") %>

1. In the left pane of the System window, click on **Advanced system settings**.

    <%= image_tag("../images/proxy/adv-settings.png") %>

1. In the System Properties window, select the **Advanced** tab, then click on
**Environment Variables**.

    <%= image_tag("../images/proxy/env-var.png") %>

1. In the Environment Variables window, under User variables, click **New**.

    <%= image_tag("../images/proxy/new.png") %>

1. In the Variable name field, input `HTTP_PROXY`.
In the Variable value field, input your proxy server information and click OK.

    <%= image_tag("../images/proxy/proxy.png") %>